torch==2.0.1
torchvision==0.15.2
transformers==4.31.0
datasets==2.13.1
accelerate==0.21.0
evaluate==0.4.0
pycocotools==2.0.6
matplotlib==3.7.2
diffusers==0.18.2
wandb==0.15.7
lightning==2.1.0rc0
tensorboard==2.14.0